@charset "UTF-8";

/*----------
　ヘッダー
----------*/
header{
    position: fixed; 
    width: 100%;
    background:#333;
    padding:20px;

    display: flex;
    justify-content: center;
    gap: 20px;
}

header a{
    color: white;
}

header a:hover{
    background-color:white;
    color:black
}

/*----------
  全体
-----------*/
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url("Contact.png");
}

/*タイトル*/
h1{
    padding-top: 100px;
    display: flex;
    justify-content: column;
}

/*----------
　メイン画面
----------*/
.main{
    min-height: 10vh;
    padding: 20px;
    flex: 1;
    align-items: center;
    gap: 10px;
}

/*----------
  ボタン
----------*/
.send{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    padding-bottom: 100px;
}
/*----------
　フッダー
----------*/
footer{
    width: 100%;

    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}